{{- define "main" -}}

{{ $customDateFormat := "02.01.2006" }}
{{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
{{ $sitetitle := (.Title) }}

<div class="container mt-3 mb-3">
  <div class="mb-3">    
    <div class="card">
      <div class="card-body">  
        <h1>{{ .Title }}</h1>
	{{ .Content  }}
        <ul>
          {{ range .Pages.ByTitle }}
          <li><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
          {{ end  }}
        </ul>
      </div>
    </div>
  </div>
</div>

{{- end -}}
